- id = bd_id
- trailing_form ||= false
- <%= plural_table_name %> ||= @<%= plural_table_name %>

.brain-damage-single-page-manager{ :id => id }
  %table.ui.table.brain-damage-table.brain-damage-list
    = r "table.header"

    - <%= plural_table_name %>.each do |<%= singular_table_name %>|
      = r "table.item", { :<%= singular_table_name %> => <%= singular_table_name %> }

    - if trailing_form
      = r "table.form", :cancel_button => true

  :javascript
    new BrainDamage.SinglePageManager("##{id}");
