- id = bd_id
- trailing_form ||= false
- <%= plural_table_name %> ||= @<%= plural_table_name %>

.ui.two.column.grid.brain-damage-single-page-manager{ :id => id }
  .column
    = r 'table', <%= plural_table_name %>: <%= plural_table_name %>, trailing_form: trailing_form, ignore_single_page_manager_script: true

  .column.brain-damage-add-form-wrapper
    = r "form"

  :javascript
    new BrainDamage.SinglePageManager("##{id}");
