- <%= singular_table_name %> ||= @<%= singular_table_name %>

= form_for <%= singular_table_name %>, :html => { :class => 'ui form' }, :remote => true do |f|
  = render 'fields', :locals => { :<%= singular_table_name %> => <%= singular_table_name %> }
