- id = bd_id
- trailing_form ||= false
- <%= plural_table_name %> ||= @<%= plural_table_name %>

.brain-damage-single-page-manager{ :id => id }
  %table.ui.table.brain-damage-table
    = render "table.header"

    - <%= plural_table_name %> do |<%= singular_table_name %>|
      = r "table.item", { :<%= singular_table_name %> => <%= singular_table_name %> }

  :javascript
    new BrainDamage.SinglePageManager("##{id}");

-# %table
-#   %thead
-#     %tr
-# <% for attribute in attributes -%>
-#       %th <%= attribute.human_name %>
-# <% end -%>
-#       %th
-#       %th
-#       %th

-#   %tbody
-#     - @<%= plural_table_name %>.each do |<%= singular_table_name %>|
-#       %tr
-# <% for attribute in attributes -%>
-#         %td= <%= singular_table_name %>.<%= attribute.name %>
-# <% end -%>
-#         %td= link_to 'Show', <%= singular_table_name %>
-#         %td= link_to 'Edit', edit_<%= singular_table_name %>_path(<%= singular_table_name %>)
-#         %td= link_to 'Destroy', <%= singular_table_name %>, :method => :delete, :data => { :confirm => 'Are you sure?' }

-# %br

-# = link_to 'New <%= human_name %>', new_<%= singular_table_name %>_path

-#   :javascript
-#     new BrainDamage.SinglePageManager("##{id}");
