- <%= singular_table_name %> ||= @<%= singular_table_name %>

%tbody.brain-damage-list-item-wrapper
  %tr.brain-damage-list-item{ :data => { :item => { :id => <%= singular_table_name %>.id }}}
<% for attribute in attributes -%>
    %td= <%= singular_table_name %>.<%= attribute.name %>
<% end -%>

    %td.brain-damage-actions-wrapper
      .brain-damage-actions
        = link_to <%= singular_table_name %> do
          %i.eye.icon

        %a
          %i.brain-damage-edit.edit.icon

        = link_to <%= singular_table_name %>, :method => :delete, :remote => true, :data => { :confirm => confirm }, :class => 'brain-damage-delete' do
          %i.trash.icon

  %tr.brain-damage-edit-list-item{ :data => { :item => { :for => <%= singular_table_name %>.id }}}
    %td{ :colspan => <%= attributes.length + 2 -%> }
      = r 'list.item.form', :<%= singular_table_name %> => <%= singular_table_name %>
