- <%= singular_table_name %> = <%= singular_table_name %> || @<%= singular_table_name %> || <%= name %>.new

= form_for <%= singular_table_name %>, :html => { :class => 'ui form' }, :remote => true do |f|
  = r 'fields', :<%= singular_table_name %> => <%= singular_table_name %>, :f => f

  .actions
    - if <%= singular_table_name %>.persisted?
      = f.submit 'Save', :class => 'ui primary button'

    - else
      = f.submit 'Add', :class => 'ui primary button'
