<% for attribute in attributes -%>
<% if @resource.input_specified?(attribute) -%>
  <%= @resource.input_for(attribute).html %>
<% else -%>
.field
  = f.label :<%= attribute.name %>
  = f.<%= attribute.field_type %> :<%= attribute.name %>

<% end -%>
<% end -%>
