<% for attribute in attributes -%>
<% field_description = @resource.field_description attribute -%>

<% if field_description and field_description.input -%>
  <%= field_description.input.html %>
<% else -%>
.field
  = f.label :<%= attribute.name %>
  = f.<%= attribute.field_type %> :<%= attribute.name %>

<% end -%>
<% end -%>
