<% for field in all_fields -%>
<% field_description = @resource.field_description field -%>

<% if field_description and field_description.input -%>
<%= field_description.input.html %>
<% elsif field.field_type -%>
.field
  = f.label :<%= field.name %>
  = f.<%= field.field_type %> :<%= field.name %>

<% end -%>
<% end -%>
