%p#notice= notice

- <%= singular_table_name %> ||= @<%= singular_table_name %>

<% for attribute in attributes -%>
%p
  %b <%= attribute.human_name %>:
  <%= @resource.display_attribute(attribute) %>
<% end -%>
