- id = bd_id
- trailing_form ||= false
- users ||= @users

.brain-damage-single-page-manager{ :id => id }
  %table.ui.table.brain-damage-table
    = r "table.header"

    - users.each do |user|
      = r "table.item", { :user => user }

    = r "table.form"

  :javascript
    new BrainDamage.SinglePageManager("##{id}");
