- user ||= @user

%tbody.brain-damage-list-item-wrapper
  %tr.brain-damage-list-item{ :data => { :item => { :id => user.id }}}
    %td= user.name

    %td.brain-damage-actions-wrapper
      .brain-damage-actions
        = link_to user do
          %i.eye.icon

        %a
          %i.brain-damage-edit.edit.icon

        = link_to user, :method => :delete, :remote => true, :data => { :confirm => 'Are you sure?' }, :class => 'brain-damage-delete' do
          %i.trash.icon

  %tr.brain-damage-edit-list-item{ :data => { :item => { :for => user.id }}}
    %td{ :colspan => 3 }
      = r 'table.item.form', :user => user
