- id = bd_id
- user ||= @user

%tbody
  %tr{:id => id}
    %td.brain-damage-trigger{:colspan => 99}
      .ui.basic.small.button.brain-damage-show Adicionar

    %td.brain-damage-hidden-form{:colspan => 99, :style => 'display: none'}
      = r 'form', :user => user

  :javascript
    new BrainDamage.TrailingAjaxForm("##{id}")
