- user = user || @user || User.new

= form_for user, :html => { :class => 'ui form' }, :remote => true do |f|
  = r 'fields', :user => user, :f => f

  .actions
    - if user.persisted?
      = f.submit 'Save', :class => 'ui primary button'

    - else
      = f.submit 'Add', :class => 'ui primary button'
