- cancel_button ||= false
- contact ||= @contact || Contact.new

= form_for contact, :html => { :class => 'ui form' } do |f|
  = r 'fields', :contact => contact, :f => f

  .actions
    = f.submit 'Save', :class => 'ui primary button'

    - if cancel_button
      .ui.basic.button.brain-damage-cancel Cancel
