- cancel_button ||= false
- area ||= @area || Area.new

= form_for area, :html => { :class => 'ui form' }, :remote => true do |f|
  = r 'fields', :area => area, :f => f

  .actions
    = f.submit 'Save', :class => 'ui primary button'

    - if cancel_button
      .ui.basic.button.brain-damage-cancel Cancel
