- id = bd_id
- area_interest ||= @area_interest

%tbody
  %tr{:id => id}
    %td.brain-damage-trigger{:colspan => 99}
      .ui.basic.small.button.brain-damage-show Adicionar

    %td.brain-damage-hidden-form{:colspan => 99, :style => 'display: none'}
      = r 'form', :cancel_button => true, :area_interest => area_interest

  :javascript
    new BrainDamage.TrailingAjaxForm("##{id}")
