!!!
%html
  %head
    %title BrainDamage
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    .ui.container
      = yield

      rake db:rollback && rails d scaffold User name:string && rgs User name:string && rdm
